<div class="chat-container" *ngIf="isOpen">
  <div class="chat-header">
    <h2>Chat</h2>
    <button mat-icon-button (click)="closeChat()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="chat-messages">
    <mat-list>
      <mat-list-item role="listitem" *ngFor="let msg of messages">
        <strong>{{ msg.name }}</strong>: {{ msg.message }}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="chat-input">
    <input [(ngModel)]="message" placeholder="Escribe un mensaje" (keyup.enter)="sendMessage()" />
    <button mat-flat-button (click)="sendMessage()">Enviar</button>
  </div>
</div>